@font-face {
    font-family: "Comforta";
    src: url(./Comfortaa-Light.ttf);
}
@font-face {
    font-family: "Nexa";
    src: url(./Nexa-Heavy.ttf);
}
@font-face {
    font-family: "Dreams";
    src: url(./CaviarDreams.ttf);
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #2a6db9,#1c4a70, #0a416e,#0a416e,#1c4a70, #2a6db9);
    background-size: 200% 200%;
    animation: color 35.5s ease-in-out infinite;
    overflow: hidden;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#nameGame {
    align-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Dreams";
    font-size: 40px;
    text-align: center;
    color: rgb(243, 243, 243);
}

#text {
    font-family: "Dreams";
    font-weight: 560;
    height: 8em;
    background-color: black;
    color: white;
    padding: 2em;
    font-size: 25px;
    text-align: center;
}

#game {
    max-width: 40%;
    height: 85%;
    overflow: hidden;
    background-color: lightgray;
    color: white;
    margin: 0 inherit;
    margin-left: auto;
    margin-right: auto; /* CHANGE THESE WITH JS LATER  myDiv.style.margin-left = "20em"; myDiv.style.margin-right = "10em"; */
    padding: 20px;
    border: 4px black solid;
    border-radius: 10px 10px;
}
#stats {
    overflow: auto;
    border: 1px black solid;
    border-radius: 24px 12px;
    color: black;
    padding: 5px;
    text-align: left;
}

#shopUI {
    display: flex;
    flex-direction: column;
    width: 21.8em;
    height: 40em;
    overflow: auto;

    background-color: rgb(131, 131, 131);
    color: white;

    margin-top: -43%; /* Do NOT change this value perfect top section lol*/
    margin-bottom: auto;
    margin-left: 72em;
    margin-right: 8.8em; 

    padding: 10px;
    border-radius: 12px 12px 24px 24px; /*Top-left, top-right, bottom-right, bottom-left*/
    border: 4px black solid;

    scroll-behavior: smooth;
    scrollbar-color: rgb(29, 29, 29);
}

#weaponShop h1 { /* STYLE the title only*/
    font-family: "Nexa";
    text-align: center;
    padding: 5px;
    margin: 0%;
}
#weaponShop p { /* STYLE the title only*/
    font-family: "Dreams";
    text-align: center;
    padding: 5px;
    margin: 0%;
}

#weaponShop hr {
    width: 72%;
    align-content: center;
}
#weaponShop {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.buttonsForWeapons {
    width: 88%;
    font-size: 17px;
    font-family: "Comforta";
    font-weight: bolder;
    padding: 10px 13px;
    margin: 6px;
    border: none;
    border-radius: 20px 20px;
}
.buttonsForPotions {
    width: 88%;
    font-size: 17px;
    font-family: "Comforta";
    font-weight: bolder;
    padding: 10px 13px;
    margin: 6px;
    border: none;
    border-radius: 20px 20px;
}

.buttons {
    font-size: 17px;
    font-family: "Comforta";
    font-weight: bolder;
    padding: 10px 13px;
    margin: 6px;
    border: none;
    border-radius: 20px 20px;
}

.buttons:hover {
    background-color: rgb(160, 160, 160);
    color: rgb(255, 255, 255);
}
.buttonsForWeapons:hover {
    background-color: rgb(148, 223, 87);
    color: rgb(255, 255, 255);
}

#button4 {
    border: none;
}

#button4:hover {
    background-color: #0a416e;
    color: whitesmoke;
} 

#buttonGhoul:hover {
    background-color: rgb(197, 170, 47);
    color: rgb(255, 255, 255);
}
#buttonBeast:hover {
    background-color: rgb(197, 110, 47);
    color: rgb(255, 255, 255);
}
#buttonWereWolf:hover {
    background-color: rgb(197, 70, 47);
    color: rgb(255, 255, 255);
}
#buttonDragon:hover {
    background-color: rgb(197, 40, 47);
    color: rgb(255, 255, 255);
}

#controls {
    display: flex;
    margin: 13px;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 20px 12px;
    padding: 5px;
}

#controlsForMonsters {
    height: 120px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    gap: 10px; 
    margin: 20px;
    border: 2px black solid;
    border-radius: 20px 12px;
    padding: 2.8em;
}

.buttonsForMonsters {
    max-width: 30em;
    width: 20em;
    justify-content: center;
    font-size: 17px;
    font-family: "Comforta";
    font-weight: bolder;
    padding: 10px 13px;
    margin: 6px;
    border: none;
    border-radius: 20px 20px;
}

#monsterStats {
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat {
    font-family: "Nexa";
    font-size: 20px;
    display: inline-flex; 
    justify-content:space-between; /* Space the text evenly */
    padding-right: 10px;
    margin: 5px 10px;
}